<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:utext="#{message.changePassword}">change password</title>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:utext="#{label.pages.home.title}">home</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@{/logout}" th:utext="#{label.pages.logout}">logout</a> </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div id="errormsg" class="alert alert-danger" style="display:none"></div>
        <h1 th:utext="#{message.changePassword}">change password </h1>
        <form method="POST">
            <br/>

<!--            <div class="form-group row">-->
                <label for="username" class="col-sm-3" th:utext="#{label.user.username}">username</label>
                <span class="col-sm-5"><input id="username" type="text" class="form-control" name="username" value="" required="required"/></span>
                <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

<!--            </div>-->
            <br/><br/>
<!--            <div class="form-group row">-->
                <label class="col-sm-2" th:utext="#{label.user.oldPassword}">old</label>
                <span class="col-sm-5"><input class="form-control" id="oldpass" name="oldPassword" type="password" value="" /></span>
                <span class="col-sm-5"></span>
<!--            </div>-->
            <br/><br/>
<!--            <div class="form-group row">-->
                <label class="col-sm-2" th:utext="#{label.user.newPassword}">new</label>
                <span class="col-sm-5"><input class="form-control" id="password" name="newPassword" type="password" value="" /></span>
                <div class="col-sm-12"></div>
<!--            </div>-->

            <br/><br/>
<!--            <div class="form-group row">-->
                <label class="col-sm-2" th:utext="#{label.user.confirmPass}">confirm</label>
                <span class="col-sm-5"><input class="form-control" id="matchPassword" name="matchingPassword" type="password" value="" /></span>
                <div id="globalError" class="alert alert-danger col-sm-12" style="display:none">error</div>
<!--            </div>-->


<!--            <div class="col-sm-12">-->
                <br/><br/>
                <button class="btn btn-primary" type="submit"  th:utext="#{message.changePassword}">change
                </button>
<!--            </div>-->
        </form>

    </div>
</div>

    <script th:inline="javascript">
        var serverContext = [[@{/}]];

        $(document).ready(function () {
            $('form').submit(function(event) {
                alert("before");
                savePass(event);
            });

            $(":password").keyup(function(){
                if($("#password").val() != $("#matchPassword").val()){
                    $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                }else{
                    $("#globalError").html("").hide();
                }
            });

        });

        function savePass(event){
            event.preventDefault();
            $(".alert").html("").hide();
            $(".error-list").html("");
            if($("#password").val() != $("#matchPassword").val()){
                $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                return;
            }
            var formData= $('form').serialize();
            alert("salam!" + formData.toString());
            $.post(serverContext + "user/updatePassword",formData ,function(data){
                window.location.href = serverContext + "logout" + "?message="+data.message;
            }, 'json')
                .fail(function(data) {
                    // if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
                    //     $("#errormsg").show().append(data.responseJSON.message);
                    // }
                    // else if(data.responseJSON.error.indexOf("InternalError") > -1){
                    //     $("#errormsg").show().append(data.responseJSON.message);
                    // }
                    // else{
                    //     var errors = $.parseJSON(data.responseJSON.message);
                    //     $.each( errors, function( index,item ){
                    //         $("#globalError").show().html(item.defaultMessage);
                    //     });
                    //     errors = $.parseJSON(data.responseJSON.error);
                    //     $.each( errors, function( index,item ){
                    //         $("#globalError").show().append(item.defaultMessage+"<br/>");
                    //     });
                    // }
                });
        }

    </script>
</body>

</html>