<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:utext="#{label.pages.home.title}">home</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" th:utext="#{label.pages.home.title}">home</a>
    </div>
      <ul class="nav navbar-nav navbar-left">
          <li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/panel}" th:utext="#{label.pages.panel}">panel</a> </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/console}" th:utext="#{label.pages.console}">console</a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li sec:authorize="isAnonymous()"><a th:href="@{/login}" th:utext="#{label.form.loginTitle}">login</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:utext="#{label.pages.logout}">logout</a></li>
      </ul>
  </div>
</nav>
    <div class="container">
            <h1 th:utext="#{label.pages.home.message}">home</h1>
    </div>
</body>

</html>

