<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <title th:utext="#{label.form.loginTitle}">Title</title>
    <script th:inline="javascript">
        function validate() {
            if (document.f.username.value == "" && document.f.password.value == "") {
                alert(/*[[#{message.username} + #{message.password}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.username.value == "") {
                alert(/*[[#{message.username}]]*/);
                document.f.username.focus();
                return false;
            }
            if (document.f.password.value == "") {
                alert(/*[[#{message.password}]]*/);
                document.f.password.focus();
                return false;
            }
        }

    </script>
    <style type="text/css">
        .wrapper {
            width: 500px;
            margin-left: auto;
            margin-right: auto
        }

        label {
            padding-left: 0 !important
        }
    </style>
</head>
<body>
<div class="alert alert-info" th:if="${message != null}" th:utext="${message}">message</div>


<div class="alert alert-danger" th:if="${error != null}" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
</div>

<div class="container">
    <div class="row wrapper">
        <h1 th:utext="#{label.form.loginTitle}">Header</h1>
        <br/><br/>

        <form action="login" method='POST' name='f' onsubmit="return validate();">
            <span id="welcometext">&nbsp;</span>

            <br/><br/>
            <label class="col-sm-4" th:utext="#{label.form.loginUsername}">username</label>
            <span class="col-sm-8"><input class="form-control" name='username' type='text' value=''/></span>

            <br/><br/>
            <label class="col-sm-4" th:utext="#{label.form.loginPass}">password</label>
            <span class="col-sm-8"><input class="form-control" name='password' type='password'/></span>
            <div class="row">
                <div class="col-2">
                    <label>CAPTCHA</label>
                </div>
                <div class="col-4">
                    <img th:src="*{'data:realCaptcha/jpg;base64,'+ realCaptcha}"/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <label>ENTER CAPTCHA</label>
                </div>
                <div class="col-4">
                    <input th:field="*{hiddenCaptcha}" type="hidden"/>
                    <!--                        <input type="text" th:field="*{captcha}" class="form-control"/>-->
                </div>
                <br/><br/>
                <label class="col-sm-4" th:utext="#{label.form.captcha}">captcha</label>
                <span class="col-sm-8"><input class="form-control" name='x-captcha-input' type='text'/></span>
            </div>
            <br/><br/>
            <input class="btn btn-primary" name="submit" th:value="#{label.form.submit}" type="submit"/>

        </form>
        <!--            <br/> Current Locale :  <span th:utext="${#locale}"></span><br/><br/>-->
        <br/><br/>
        <!--            <a class="btn btn-default" th:href="@{/templates/resetPassword.html}" th:utext="#{message.resetPassword}">reset</a>-->
    </div>
</div>
</body>

</html>