<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
    <title th:utext="#{message.resetPassword}">reset password</title>
</head>
<body>
<div class="container">
    <h1 class="alert alert-success" th:if="${message != null}" th:utext="${message}">message</h1>
    <a th:href="@{/console}" th:utext="#{label.pages.console}">console</a>

</div>

<script th:inline="javascript">
    var serverContext = [[@{/}]];


    function savePass(event){
        event.preventDefault();
        $(".alert").html("").hide();
        $(".error-list").html("");
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
            return;
        }
        var formData= $('form').serialize();
        $.post(serverContext + "user/updatePassword",formData ,function(data){
            window.location.href = serverContext + "login" + "?message="+data.message;
        })
        .fail(function(data) {
            if(data.responseJSON.error.indexOf("InvalidOldPassword") > -1) {
                $("#errormsg").show().append(data.responseJSON.message);
            }
            else if(data.responseJSON.error.indexOf("InternalError") > -1){
                $("#errormsg").show().append(data.responseJSON.message);
            }
            else{
                var errors = $.parseJSON(data.responseJSON.message);
                $.each( errors, function( index,item ){
                    $("#globalError").show().html(item.defaultMessage);
                });
                errors = $.parseJSON(data.responseJSON.error);
                $.each( errors, function( index,item ){
                    $("#globalError").show().append(item.defaultMessage+"<br/>");
                });
            }
        });
    }

</script>
</body>

</html>